body{
    background: url("./images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 900px;
}
.midbox{
    /* background-color: red; */
    background-image: url("./images/insideboxcolor.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: auto;
    height: 80vh;
    flex-basis: 80%;
    border-radius: 25px;
    display: grid;
    grid-template-rows: 20% 35% 45%;
}
.topnav{
    /* background-color: pink; */

}
.navbar-nav > li{
    padding-left: 2vw;
}
.linksbox{
    
}
.navimg{
    margin-left: 5vw;
}
.topbtn{
    /* height: 50px; */
    border-radius: 20px;
    background-color: #19AD52;
    margin-right: 5vw;
    font-family: "gilroy"; 
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 15px 25px 15px 25px;
}
.topbtn:hover{
    color:  #F60059;
    background-image:  url("./images/snowflakes.png");
}
li > a{
    text-decoration: none;
    color: #131313;
    font-family: "gilroy"; 
    font-size: 24px;
    font-weight: 500;
    
}
li > a:hover {
    color:red;
}
.textbox{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}
h1{
    color: #131313;
    font-size: 72px;
    font-weight: 700;
    font-family: "gilroy";
    text-shadow: 2px 2px #818080;
    
}
p{
    color: #131313;
    font-size: 38px;
    font-weight: 500;
    font-family: "gilroy"; 
}
.textbtn{
    /* height: 50px; */
    border-radius: 20px;
    background-color: #F60059;
    font-family: "gilroy"; 
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 15px 25px 15px 25px;
}
.textbtn:hover{
    color:  #19AD52;
    background-image:  url("./images/snowflakes.png");
}
.giftbox{
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.allgifts{
    height: 100%;
    width: 80%;
}
.leftcandy{
    position: absolute;
    top: 25%;
    left: 0;
    width: 15%;
}
.rightcandy{
    position: absolute;
    top: 30%;
    right: 0;
    width: 15%;
}